@import "./minxins.scss";

$--default-button-background: #68cdfa;

/* Login */
$--login-container-border-color: rgb(64, 82, 130);
$--login-container-header-backgroundcolor: rgba(0, 0, 0, 0.3);
$--login-button-background-color: #3da3ef;
$--login-button-disabled-border-color: #3776a5;

/* Map */
$--poi-marker-color: #3e96d7;

$opacity: 0.5
